.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 195, 42);
    font-weight: bolder;
    font-style: italic;
    font-size: 3em;
}

.question, #verdict, .results {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 195, 42);
    font-weight: bold;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
}


.option-buttons {
    margin-bottom: 10px;
    margin-left: 40px;

}

.timer {
    text-align: center;
}

body {
    background-image: url("https://vignette.wikia.nocookie.net/simpsons/images/b/b7/Simspons_Clouds.jpg/revision/latest?cb=20100824223324");
}

#gif {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 640px) {
    body {
    background-image: none;
    background-color: rgb(2, 126, 175);
}
}